mixin member(member)
	- var twitterUsername = member.twitterUsername || (member.twitter ? member.twitter.replace('@', ''): '');
	- var githubUsername = member.githubUsername || (member.github ? member.github.replace('@', '') : '');

	li.member-item
		.member.member--card
			.member-section.member__photo
				a(href=member.url): img(src=(member.photo.exists ? member._.photo.thumbnail(360,360) : member.avatarUrl || '/images/avatar.png'), alt=member.name.full, width=180, height=180)
			.member-section.member__info
				h5.member__title(class=(member.bio ? null : 'member__title-only')): a(href=member.url)= member.name.full
				if member.bio
					.member__bio!=utils.cropString( utils.htmlToText(member.bio), 100, '...', true )
				if twitterUsername || member.github || member.website
					.member__accounts.hidden-xs
						if member.website
							a(href=member.website, target='_blank', data-toggle='tooltip', data-placement='top', data-container='#members').member__account.member__account--website.is-tooltip
								span.entypo.entypo-globe
						if twitterUsername
							a(href='https://twitter.com/' + twitterUsername, target='_blank', data-toggle='tooltip', data-title='@' + twitterUsername, data-placement='top', data-container='#members').member__account.member__account--twitter.is-tooltip
								span.entypo-social.entypo-twitter
						if githubUsername
							a(href='https://github.com/' + githubUsername, target='_blank', data-toggle='tooltip', data-title=githubUsername, data-placement='top', data-container='#members').member__account.member__account--github.is-tooltip
								span.entypo-social.entypo-github