include ../mixins/flash-messages
// include ../mixins/auth/auth-forms

doctype html
html

	//- HTML HEAD
	head
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		meta(name="description" content ="Filanthropy* brings people together to have fun and raise money for social change projects.")
		meta(name="google-site-verification" content="Qr7T37f--p4XBIGSwY7kNWNP-22A3v3SRhYdmqtoZng")

		link(rel="home" type="application/rss+xml" title="Filanthropy* Blog" href="/blog/rss")
		
		title= title || 'filanthropy*'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
		meta(name="apple-mobile-web-app-title" content="Filanthropy*")

		link(rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196")
		link(rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160")
		link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
		link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="msapplication-TileImage" content="/mstile-144x144.png")
		meta(name="application-name" content="Filanthropy*")
			
		link(href="/styles/site.min.css", rel="stylesheet")
		
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		meta(name="description" content ="Filanthropy* brings people together to have fun and raise money for social change projects.")

		//- meta(property="og:site_name" content="#{siteName}")
		//- meta(property="og:title" content="#{page.title}")
		//- meta(name="twitter:title" content="#{page.title}")
		//- meta(name="twitter:site" content="@Filanthropystar")
		//- meta(property="og:url" content="#{page.url}" )
		//- meta(name="twitter:card" content="summary_large_image")
	
		block opengraph
			meta(property="og:description" content ="Filanthropy* brings people together to have fun and raise money for social change projects.")
			meta(name="twitter:description" content="Filanthropy* brings people together to have fun and raise money for social change projects.")
			
			meta(name="twitter:image:src" content="http://www.filanthropystar.org/images/placeholders/bannerimage.jpg")
			meta(name="og:image" content="http://www.filanthropystar.org/images/placeholders/bannerimage.jpg")

		block css
		block head
		



	//- HTML BODY
	body(class=section ? 'sitesection-' + section : null)
		.site-wrapper.has-sticky-footer
			
			
			//- SITE HEADER
			include ../includes/layout/header
			
			//- SITE BODY
			block body
				main.site-body(role='main')

					block intro

					block flash-messages
						+flash-messages(messages)

					block content
						
			//- SITE FOOTER
			block footer
				include ../includes/layout/footer

	//- JAVASCRIPT
	script(src='/js/jquery/jquery-1.11.3.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
	script(src='/js/bootstrap/collapse.js')
	script(src='/js/bootstrap/dropdown.js')
	script(src='/js/bootstrap/modal.js')

	//- Headroom
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js")
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js")
	//-script(src='/js/common/header.js')

	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')
	
	script(src='/js/ui.js')

	
	//- ANALYTICS
	include ../includes/layout/analytics
	block js
